project-1/.terraform/providers/registry.terraform.io/hashicorp/aws/4.35.0/darwin_amd64/terraform-provider-aws_v4.35.0_x5
project-2/.terraform/providers/registry.terraform.io/hashicorp/aws/4.36.1/darwin_amd64/terraform-provider-aws_v4.36.1_x5
project-2/.terraform/providers/registry.terraform.io/hashicorp/aws/4.36.1/darwin_amd64/terraform-provider-aws_v4.36.1_x5
project-3/.terraform/providers/registry.terraform.io/hashicorp/aws/4.36.1/darwin_amd64/terraform-provider-aws_v4.36.1_x5
/Users/00146329amirulafiq/Documents/GitHub/TerraformPractice/project 3 - Build Web using k8/.terraform
.terraform
*.1_x5